<body class="container pt-3 h-100">
<br>
<h1 itemprop="headline">U.S. Indexes Close With Worst Yearly Losses Since 2008</h1>
<br>
<h2 itemprop="description">Stocks rise on the year’s final trading day, but not enough to offset bruising last few weeks
  of selling </h2>
<div class="article-content ">
  <p>U.S. stocks drifted higher Monday but closed out 2018 with their steepest annual declines since the financial
    crisis, reflecting growing unease among investors about the health of the nearly decade-long bull run. </p>
  <p>Trading was quiet heading into the New Year’s Day holiday. Major indexes got a lift early Monday as investors eyed
    signs of progress in trade negotiations between the U.S. and China. President Trump tweeted over the weekend that
    he and Chinese President Xi Jinping had <a
      href="https://www.wsj.com/articles/u-s-presses-china-on-trade-proposals-11546208150?mod=searchresults&page=1&pos=4&mod=article_inline"
      class="icon none">made “big progress”</a> in talks that are due to wrap up in March.</p>
  <div id="cx-read-next-mobile"></div>
  <div class="paywall">
    <p>“As long as they keep talking, that is positive for the market,” said Geoffrey Yu, head of the London investment
      office at
      <a href="https://quotes.wsj.com/UBS">UBS</a>
      Wealth Management. “After a few tumultuous weeks, the market is welcoming some stability.”</p>
    <p>Still, with trading desks lightly staffed heading into the New Year’s Day holiday, few were willing to call
      Monday’s gains a decisive turnaround for the market. Stocks suffered a bruising stretch of selling in the final
      months of 2018 as investors grew increasingly pessimistic about the global economy and grappled with anxieties
      about the unwinding of central banks’ easy-money policies.</p>
    <div class="media-object-rich-text">
      <h4>Related</h4>
      <p></p>
      <ul class="articleList">
        <li><a
          href="https://www.wsj.com/articles/u-s-presses-china-on-trade-proposals-11546208150?mod=hp_lead_pos1&mod=article_inline"
          class="icon none">U.S. Presses China on Trade Proposals</a></li>
        <li><a
          href="https://www.wsj.com/articles/chinas-manufacturing-sector-contracts-11546232113?mod=article_inline&mod=article_inline"
          class="icon none">China’s Manufacturing Sector Contracts</a></li>
        <li><a
          href="https://www.wsj.com/articles/shutdown-enters-a-new-week-as-house-democrats-ponder-next-move-11546198295?mod=hp_lead_pos7&mod=article_inline"
          class="icon none">Shutdown Enters a New Week as House Democrats Ponder Next Move</a></li>
      </ul>
    </div>
    <p>More recently, sparring between lawmakers led to a partial <a
      href="https://www.wsj.com/articles/shutdown-enters-a-new-week-as-house-democrats-ponder-next-move-11546198295?mod=article_inline"
      class="icon none">government shutdown</a> that looks likely to stretch on into the new year.</p>
    <p>The litany of issues has led to dizzying moves across the market. Last week, U.S. stocks posted their worst-ever
      Christmas Eve selloff, then logged their biggest <a
        href="https://www.wsj.com/articles/u-s-stocks-poised-for-gains-11545827647?mod=article_inline"
        class="icon none">one-day point gain on record</a>. In another sign of market turbulence, the Cboe Volatility
      Index—a barometer of investors’ expectations for stock swings—logged its steepest one-year advance ever. </p>
    <p>The swings buffeting stocks left major indexes firmly in the red for 2018, even with their New Year’s Eve rally.
      The Dow Jones Industrial Average climbed 265.06 points, or 1.1%, to 23327.46 on Monday, boosted by a rally in
      shares of
      <a href="https://quotes.wsj.com/BA">Boeing</a>
      and
      <a href="https://quotes.wsj.com/GS">Goldman Sachs</a>
      <span class="company-name-type">.</span>
      The S&amp;P 500 added 21.11 points, or 0.8%, to 2506.85 and the Nasdaq Composite rose 50.76 points, or 0.8%, to
      6635.28. </p>
    <p>For the year, the Dow industrials were down 5.6%, the S&amp;P 500 off 6.2% and the Nasdaq down 3.9%.</p>
    <p>Stock markets elsewhere around the world fared even worse. The Stoxx Europe 600 shed 13% in 2018, while the
      U.K.’s FTSE 100 declined 13% and Japan’s Nikkei Stock Average fell 12%.</p>
    <p>The volatility spared few asset classes. Oil prices hit multiyear highs in October, only to tumble in the fourth
      quarter as investors grew increasingly worried about a potential supply glut.</p>
  </div>
</div>
</body>
