<header>
    <div class="bg-light d-flex flex-row">
      <div class="d-flex flex-row p-2 text-center">
          <img src="../../../assets/img/fb_logo_two.png" class="rounded-right img-fluid">
      </div>
      <div class="mr-auto p-2 align-self-center">Bubba Bubble Gum.</div>
      <div class="d-lg-flex p-2 align-self-center" ><a href="#" class="text-muted" [routerLink]="[ '/home']">Home</a></div>
      <div class="d-lg-flex p-2 align-self-center" ><a href="#" class="text-muted" [routerLink]="[ '/news']">News</a></div>
      <div class="d-lg-flex p-2 align-self-center"><a href="#" class="text-muted" [routerLink]="[ '/form']">Form</a></div>
      <div class="d-lg-flex p-2 align-self-center">Pricing</div>
      <a class="btn btn-outline-primary d-lg-flex p-2 align-self-center mr-5" href="#">Sign up</a>
    </div>
</header>
