.FormContainer {
  display: flex;
  flex-direction: column;
}

.FormContainer > * {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body{
  padding: 0 16px 16px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix{
  width: 360px;
}

#CityFormField{
  width: 200px;
}
#StateFormField{
  width: 80px;
}

/*.mat-expansion-panel-content > .mat-expansion-panel-body {*/
  /*padding: 0 !important;*/
/*}*/
